{% extends 'base.html' %}
{% load static %}


{% block title %}
    Edit Your Information
{% endblock %}


{% block content %}


    <section class="contact-us">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="sidebar-item contact-form">
                                    <div class="sidebar-heading">
                                        <h2>Edit Your Profile</h2>
                                    </div>
                                    <div class="content">
                                        <form id="contact" action="" method="post">
                                            {% csrf_token %}

                                            {% if form.errors %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger">{{ error }}</div>
                                                {% endfor %}
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">{{ error }}</div>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}

                                            {% for field in form %}
                                                <div class="field-wrapper">
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                </div>
                                            {% endfor %}

                                            <div class="col-lg-12 mt-4">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button btn">Send
                                                    </button>
                                                </fieldset>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>


{% endblock %}